.pagination-container {
  display: flex;
  background-color: rgb(24, 27, 42);
  padding: 10px 0px;
  justify-content: center;
}

.pagination-container button {
  background-color: rgb(219, 176, 82);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 15px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 4px;
  width: 130px;
}

.pagination-container button:hover {
  background-color: rgb(226, 182, 85);
}
