.sorter-container {
  display: flex;
  margin: 0px auto;
  padding: 10px 0px;
  justify-content: center;
  flex-wrap: wrap;
}

.sorter-container button {
  background-color: rgb(1, 108, 249);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  font-size: 15px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 4px;
  width: 130px;
}

.sorter-container button:hover {
  background-color: rgb(21, 119, 249);
}
