.spinner-container {
  display: flex;
  justify-content: center;
}

.spinner {
  position: absolute;
  top: 50%;
  border: 6px solid rgb(0 0 0 / 16%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: rgb(219, 176, 82);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
