.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(24, 27, 42));
  color: rgb(255, 255, 255);
  margin: auto;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px 0px;
}

.modal-footer {
  text-align: center;
}

hr {
  border: rgb(165 131 68) 5px solid;
  border-radius: 8px;
}

.close {
  background-color: rgb(222, 32, 32);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  font-weight: 700;
}

.close:hover,
.close:focus {
  background-color: rgb(219, 82, 82);
  text-decoration: none;
  cursor: pointer;
}
